<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:label="BtAimBridge"
        android:supportsRtl="true"
        android:theme="@style/Theme.BtAimBridge">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="BtAimBridge"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".KeepAliveService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

            <activity
            android:name=".MouseUsbProxyActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|navigation|uiMode|orientation|screenSize|screenLayout|smallestScreenSize" />
        <activity
            android:name=".MouseProxyActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|navigation|uiMode|orientation|screenSize|screenLayout|smallestScreenSize" />
        <activity
            android:name=".MouseTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <service
            android:name=".BridgeForegroundService"
            android:foregroundServiceType="connectedDevice" />
    </application>
</manifest>
